.vbox-main {
    -fx-border-color: rgba(42, 42, 42, 0.3);
    -fx-border-radius: 8px 8px 8px 8px;
    -fx-background-color: rgba(238, 238, 238, 0.9);
    -fx-background-radius: 8px 8px 8px 8px;
}

.button-close-base {
    -fx-background-size: 30px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 0px 8px 0px 0px;
}

.button-close-normal {
    -fx-background-image: url(../img/closeIcon-normal.png);
}

.button-close-mouse-on {
    -fx-background-image: url(../img/closeIcon-mouse-on.png);
}

.button-close-mouse-pressed {
    -fx-background-image: url(../img/closeIcon-mouse-pressed.png);
}

.button-minimize-base {
    -fx-background-size: 30px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-minimize-normal {
    -fx-background-image: url(../img/minimizeIcon-normal.png);
}

.button-minimize-mouse-on {
    -fx-background-image: url(../img/minimizeIcon-mouse-on.png);
}

.button-minimize-mouse-pressed {
    -fx-background-image: url(../img/minimizeIcon-mouse-pressed.png);
}